body{
    margin:0px !important;
    padding:0px !important;
    
}

#newgamepage .ui-content{
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
}
/* Stylowanie głównego menu*/
#menu{
    background: url('../img/Splash.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.buttonscontainer{
    
    margin-top:10%;
}

/*Koniec stylowania głównego menu*/

/* Stylowanie Nowej gry*/

#newgamepage{
    background: url('../img/gamebg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#timer {
    margin:0px;
    padding:0px;
    border:0px;
    display:block;
    float:left;
    color: white;
}

#clock{
    text-align:center;
    font-size: 32px;
    font-family: 'Calibri';
}

#checkbutton {
    margin:0px;
    padding:0px;
    border:0px;
    display:block;
    float:left;
}

#checkbtn{
    position:absolute;
    margin:0px;
    padding:0px;
    width:50%;
    height:100%;
    text-align:center;
}

#checkbtn img{
    position:relative;
    margin:10px 20px;
    padding:0px;
    text-align:center;
}

.singlebox  {
    display:block;
    float:left;
    background: url('../img/singleboxnotactive.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.empty{
    background: url('../img/singleboxactive.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.toolate{
    background: url('../img/singleboxtoolate.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.orange{
    background: url('../img/orange.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.blue{
    background: url('../img/blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.red{
    background: url('../img/red.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.green{
    background: url('../img/green.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.violet{
    background: url('../img/violet.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.yellow{
    background: url('../img/yellow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.popupmenua{
    margin:0px;
    padding:0px;
}

.deactivation{
    pointer-events:none;
}

.notactive{
    display:none !important;
}

.singleboxscore{
    margin:0px;
    padding:0px;
    border:0px;
    display:block;
    float:left;
}

.emptyscore{
    background: url('../img/singleboxscore.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score00{
    background: url('../img/00.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score01{
    background: url('../img/01.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score02{
    background: url('../img/02.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score03{
    background: url('../img/03.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score04{
    background: url('../img/04.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score10{
    background: url('../img/10.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score11{
    background: url('../img/11.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score12{
    background: url('../img/12.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score13{
    background: url('../img/13.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score20{
    background: url('../img/20.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score21{
    background: url('../img/21.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score22{
    background: url('../img/22.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score30{
    background: url('../img/30.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score40{
    background: url('../img/40.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#colorbasket{
    margin:0px;
    padding:0px;
    border:0px;
    display:block;
    float:left;
}

.singlecolorbox{
    margin:0px;
    padding:0px;
    border:0px;
    display:block;
    float:left;
}

.singlecolorbox img{
    display:block;
    border:none;
    margin:auto;
    text-align:center;
    width:80%;
    height:80%;
}

.border{
    margin:0px;
    padding:0px;
    border:0px;
    display:block;
    float:left;
    background-color: blue;
}


/*Koniec stylowania Nowej gry*/

/*Style dla strony Zasady gry*/
.rules {
    overflow: auto;
    color: aliceblue;

    margin-left: 10px;
    margin-right: 10px;
}



#rules {
    background: url('../img/rulesbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.backbutton{/* style wspólne dla zasad, wyników i opcji*/
    width:50px;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #1B3C5B !important;
    color:#ffffff !important;
    font-family:'Calibri';
    font-weight:normal !important;
    }

/*Koniec styli dla Zasad gry */

/*Style dla strony Opcji gry*/

#options{
    background: url('../img/optionsbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header{/* style wspólne dla zasad, wyników i opcji*/
    border:0px;
    opacity:0.8;
    background-color: #69C2FD !important;  
    color:#000000 !important;
    font-family:'Calibri';
    font-size:110%;
    font-weight:bold !important;
}

.menubutton, .difficultybutton {
    width:70% !important; 
    color:#ffffff !important;
    font-family:'Calibri';
    font-size:120%;
    font-weight:normal !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #1B3C5B !important;
    opacity:0.85;
}

.menubutton:hover
{
    width:70% !important;
    color:#000000 !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #69C2FD !important;
}

.difficultybuttonactive{
    width:70% !important;
    color:#000000 !important;
    font-family:'Calibri';
    font-size:120%;
    font-weight:normal !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #69C2FD !important;
    opacity:0.85;
}

.footer{/* style wspólne dla zasad, wyników i poziomu trudności*/
    display:block;
    position:fixed;
    bottom:0px; 
    right:0px;
    left:0px;
    border:0px;
    opacity:0.8;
    background-color: #69C2FD !important;
    color:#ffffff !important;
    font-family:'Calibri';
    font-size:120%;
    font-weight:normal !important;
}

/*Koniec styli Opcji gry*/

/*Style dla Najlepsze wyniki*/

#bestresults{
    background: url('../img/bestbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*Koniec styli dla Najlepsze wyniki*/

/* Menu wyboru koloru*/

.navigation{
    padding:0px;
    margin:0px;
}

ul.navigation {
    margin:0px auto;
    position:relative;
    float:left;
}
 
ul.navigation li {
    display:inline;
    margin:0;
    padding:0;
    float:left;
    position:relative;
}
 
ul.navigation li a {
    padding:0px 0px;
    text-decoration:none;
    display:inline-block;
     
    -webkit-transition:color 0.2s linear, background 0.2s linear;    
    -moz-transition:color 0.2s linear, background 0.2s linear;    
    -o-transition:color 0.2s linear, background 0.2s linear;    
    transition:color 0.2s linear, background 0.2s linear;    
}

.fakehover .navigation li:hover > ul
{
    visibility:visible;
    opacity:1;
}
 
ul.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    visibility:hidden;
    z-index: 99999;
    opacity:0;
    position: fixed;
    top:0;/*changed by JS*/
    left:0;/*changed by JS*/
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -o-transition:opacity 0.2s linear, visibility 0.2s linear; 
    transition:opacity 0.2s linear, visibility 0.2s linear;     
}
 
 
ul.navigation ul li {
    border:0 none;
    width:50px;
    height:50px;
}
 
ul.navigation ul li a {
    background:none;
    padding:0px 0px;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    width:50px;
    height:50px;
    text-align:center;    
}

ul.navigation ul li a img{
    width:50px;
    height:50px;
    margin:auto;
}
 
ul.navigation li a.first {
    border-left: 0 none;
}
 
ul.navigation li a.last {
    border-right: 0 none;
